{% extends "layout.html" %}

{% block title %}Home page{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p style="color: black;"><b> "Welcome to The Retail Bank! Our retail bank caters to individual customers, offering services for managing savings and current accounts. We provide various functions, including customer creation, customer account opening, customer data updates, and customer removal. Additionally, we oversee cashier transactions such as deposits, withdrawals, and transfers."</b></p>
      </div>
  </div>
</main>



{% endblock %}
